.docs-section {
	padding: $guaranteed-edge-standoff;
	max-width: $single-max-width;
	margin: 0 auto;
	width: 100%;

	h2 {
		border-bottom: 1px solid $dark-grey;
		font-weight: 600;
		padding-bottom: 0.25em;
	}

	h3 {
		font-weight: 600;
		margin-bottom: 0;
	}

	.anchor-heading {
		padding-top: 60px;
		margin-top: -60px;
	}
}

.back-to-top {
	font-size: 0.5em;
	float: right;
	padding-top: 1.2em;
}