.docs-section {
	margin: 0 auto;
	max-width: $single-max-width;
	padding: $guaranteed-edge-standoff;
	width: 100%;

	h2 {
		border-bottom: 1px solid $dark-grey;
		font-weight: 600;
		padding-bottom: 0.25em;
	}

	h3 {
		font-weight: 600;
		margin-bottom: 0;
	}

	.anchor-heading {
		margin-top: -60px;
		padding-top: 60px;
	}
}

.subhead-anchor {
	display: none;
	font-size: 0.7em;

	&:hover {
		text-decoration: underline;
	}

	&::after {
		background-image: url("img/svg-icons/link.svg");
		background-repeat: no-repeat;
		background-size: cover;
		content: "";
		display: inline-block;
		height: 0.8em;
		margin-left: 0.2em;
		margin-top: 0.1em;
		opacity: 0.4;
		width: 0.8em;
	}

	.anchor-heading:hover & {
		display: inline-block;
	}
}

.back-to-top {
	float: right;
	font-size: 0.5em;
	padding-top: 1.2em;
}
