.footer-about {
	background-color: $color-mineshaft-2;
	color: $default-light-color;

	a {
		background: none;
		color: $default-light-color;
		transition: none;
	}

	.footer-about-inner {
		margin: 0 auto;
		max-width: $single-max-width;
		padding: $guaranteed-edge-standoff $guaranteed-edge-standoff $guaranteed-edge-standoff/2 $guaranteed-edge-standoff;
	}

	.cta-careers {
		display: inline-block;
		margin-bottom: $gutter-width;
		vertical-align: top;
		width: 48%;

		.button {
			margin-top: .5em;
		}
	}


	.license {
		display: inline-block;
		margin-left: 2%;
		text-align: right;
		vertical-align: top;
		width: 48%;

		p {
			font-size: 1rem;
			margin: 1rem 0;
		}

		a {
			text-decoration: underline;

			&:focus,
			&:hover {
				color: $color-accent-alternate-2;
			}
		}
	}

}
