#page-header {
	padding: 0 $guaranteed-edge-standoff;
	background: #303030;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;

	body.admin-bar & {
		top: 46px;

		@include breakpoint($wpadminbar-narrow) {
			top: 32px;
		}
	}
	.logo-link {
		position: absolute;
		bottom: -$header-logo-small-protrusion;
		left: 50%;
		margin-left: -$header-logo-small / 2;
		height: $header-logo-small;
		width: $header-logo-small;
		border-radius: 100%;
		z-index: 10; /* So that it overlays any expanded .top-nav */
		@extend %hide-text;
		background: #303030 url("img/10up-logo-full.svg") no-repeat 46% 30%;
		-webkit-background-size: 50%;
		background-size: 50%;
		@include breakpoint($breakpoint-bravo) {
			margin-left: -$header-logo-large / 2;
			bottom: -$header-logo-large-protrusion;
			height: $header-logo-large;
			width: $header-logo-large;
			-webkit-background-size: 45%;
			background-size: 45%;
			background-position: 46% 50%;
		}
	}

	.top-nav {
		top: 6rem;
		z-index: 5; /* higher than normal so it overlays content elements */
		background-color: #303030;
		padding: 0;
		height: 0;
		position: relative;

		.js-mobile-expandable {
			display: none;

			&.is-open {
				display: block;

				&:before {
					content: '';
					border: 10px solid transparent;
					border-bottom-color: #222;
					display: block;
					position: absolute;
					right: .25em;
					top: -20px;
				}
			}
		}

		.header-nav {
			background-color: #222;
			text-align: right;

			@include breakpoint($breakpoint-bravo) {
				background-color: transparent;
				text-align: center;
				display: block;
				padding-left: 6px;

				li:nth-child(5) {
					margin-right: 80px;
				}
			}

			.subnav li {
				margin-right: 0;
				text-align: left;
			}
		}

		@include transition(height, 150ms, linear);

		@include breakpoint($breakpoint-bravo) {
			display: inline-block;
			height: auto !important;
			background-color: transparent;
			position: relative;
			top: auto;
			width: 100%;
		}
	}
}

.page-header-content {
	// @extend %grid-context;
	position: relative;
	height: 6rem;
}

// handles layout and functionality for the header menus.
// styling the internal bits happens in components/header/...
.toggle-menu-icon {
	@extend %menu-icon;
	@include icon('menu');
	display: block;
	font-size: 1.3rem;
	background-color: black;

	@include breakpoint($breakpoint-bravo) {
		display: none;
	}
}

.main-nav-supplemental-icon {
	@extend %menu-icon;
	@include icon('github');
	display: block;
	font-size: 1.3rem;
	background-color: black;
	right: 2.5em;

	@include breakpoint($breakpoint-bravo) {
		right: 0;
	}
}

.header-nav {
	@extend %caps-text;
	color: $color-dark-text;
	line-height: inherit;
	margin: 0;
	padding: 0;
	padding-top: 1em;

	@include breakpoint($breakpoint-bravo) {
		@include inline-list();
		display: block !important;
		padding-top: 0;
	}

	li {
		list-style-type: none;
		padding: .5em 1em;

			&:hover {
				background-color: #303030;
				@include breakpoint($breakpoint-bravo) {
					background-color: transparent;
				}
			}


		@include breakpoint($breakpoint-bravo) {
			padding: 0;
			margin: 0 0.3em;

			@include breakpoint($breakpoint-charlie) {
				margin: 0 0.4em;
			}
		}

		&.current-menu-item > a,
		&.current_page_parent > a {
			&:after {
				background-color: #585858;
				bottom: 7px;
				@include opacity(1);
			}

			body.home &:after {
				bottom: 7px;
				@include opacity(0);
				// border-top-color: transparent;
			}
		}
	}

	&.is-open {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

.page-header-content {
	li a,
	h1 a {
		display: block;
		padding: .8rem 0;
		font-size: 14px;
		font-weight: 400;
		color: $color-dark-text;

		@include breakpoint($breakpoint-bravo) {
			padding: 21px 0;
			font-size: 11px;
			position: relative;

			&:hover {
				text-decoration: none;
				&:after {
					bottom: 7px;
					@include opacity(1);
				}
			}
			&:after {
				content: "";
				width: 100%;
				height: 5px;
				background: $color-dark-text;
				position: absolute;
				bottom: 5px;
				left: 0;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				@include opacity(0);
				@include transition(all, 80ms, ease-in);
			}

			@include breakpoint($breakpoint-charlie) {
				font-size: 12px;
				font-weight: 600;
			}

		}
	}

}
