.toc {
	background-color: #efefef;
	padding: $guaranteed-edge-standoff $guaranteed-edge-standoff;

	&:after {
		clear: both;
		content: '';
		display: block;
	}

	.cols {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		@include breakpoint($breakpoint-bravo) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
		}
	}

	.col {
		margin: 0;
		word-break: break-word;
		flex-basis: 100%;

		@include breakpoint($breakpoint-bravo) {
			padding-right: 2%;
			vertical-align: top;

			&:nth-child(2n+1) {
				margin-right: 0;
				padding-left: 2%;
				position: relative;
			}
		}
	}

	.col--tools {
		@include breakpoint($breakpoint-bravo) {
			grid-area: 1 / 4 / 4;
		}
	}

	.col--a11y {
		@include breakpoint($breakpoint-bravo) {
			grid-area: 1 / 3 / 3;
		}
	}

	h2 {
		margin: 0 0 1em;
	}

	ul {
		margin-top: .5em;
		padding-left: 0;
	}

	a {
		background-image: none;
		border: 0;
		color: $almost-black;
		display: inline-block;
		text-decoration: underline;

		&:focus,
		&:hover {
			text-decoration: none;
		}

	}

	h3 {
		@extend %caps-text;

		font-size: 1.2em;
		font-weight: 600;
		margin-bottom: 0;

		a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

		}

	}

	li {
		list-style-type: none;
	}
}
