---
layout: default
---


<div class="heading" id="toc">
	<h2>Table of contents</h2>
</div>
<div class="section toc">
	<div class="col">
		<h4><a href="#introduction">Introduction</a></h4>
		<ul>
			<li><a href="#audience">Audience</a></li>
			<li><a href="#goal">Goal</a></li>
			<li><a href="#philosophy">Philosophy</a></li>
			<li><a href="#contributing">Contributing</a></li>
		</ul>
		<h4><a href="#php">PHP</a></h4>
		<ul>
			<li><a href="#php-performance">Performance</a></li>
			<li><a href="#php-design-patterns">Design Patterns</a></li>
			<li><a href="#php-security">Security</a></li>
			<li><a href="#php-unit-testing">Unit and Integration Testing</a></li>
			<li><a href="#php-code-style">Code Style</a></li>
			<li><a href="#php-libraries">Libraries and Frameworks</a></li>
		</ul>
		<h4><a href="#version-control">Version Control</a></h4>
		<ul>
			<li><a href="structure">Structure</a></li>
			<li><a href="workflows">Workflows</a></li>
		</ul>
	</div>
	<div class="col">
		<h4><a href="#javascript">JavaScript</a></h4>
		<ul>
			<li><a href="#js-performance">Performance</a></li>
			<li><a href="#js-design-patterns">Design Patterns</a></li>
			<li><a href="#js-unit-testing">Unit and Integration Testing</a></li>
			<li><a href="#js-code-style">Code Style</a></li>
			<li><a href="#js-libraries">Libraries</a></li>
		</ul>
		<h4><a href="#tools">Tools</a></h4>
		<ul>
			<li><a href="#local-development">Local Development Environments</a></li>
			<li><a href="#task-runners">Task Runners</a></li>
			<li><a href="#package-managers">Package/Dependency Managers</a></li>
			<li><a href="#version-control">Version Control</a></li>
			<li><a href="#command-line">Command Line Tools</a></li>
		</ul>
	</div>
</div>


<div class="heading" id="introduction">
	<h2>Introduction</h2>
</div>

<div class="section">
	<div class="col">
		{% capture introduction %}{% include markdown/Introduction.md %}{% endcapture %}
		{{ introduction | markdownify }}
	</div>
</div>

<div class="heading" id="php">
	<h2>PHP</h2>
</div>

<div class="section">
	<div class="col">
		{% capture php %}{% include markdown/PHP.md %}{% endcapture %}
		{{ php | markdownify }}
	</div>
</div>

<div class="heading" id="javascript">
	<h2>JavaScript</h2>
</div>

<div class="section">
	<div class="col">
		{% capture javascript %}{% include markdown/JavaScript.md %}{% endcapture %}
		{{ javascript | markdownify }}
	</div>
</div>

<div class="heading" id="version-control">
	<h2>Version Control</h2>
</div>

<div class="section">
	<div class="col">
		{% capture workflow %}{% include markdown/Version-Control.md %}{% endcapture %}
		{{ workflow | markdownify }}
	</div>
</div>

<div class="heading" id="tools">
	<h2>Tools</h2>
</div>

<div class="section">
	<div class="col">
		{% capture tools %}{% include markdown/Tools.md %}{% endcapture %}
		{{ tools | markdownify }}
	</div>
</div>
