---
---
// Global
@import "global/functions";
@import "global/variables";
@import "global/mixins";
@import "global/placeholders";
@import "global/grid";

// Base
@import "base/normalize";
@import "base/base";
@import "base/typography";
@import "base/fonts";
@import "base/buttons";

// Components
@import "components/syntax-highlighter";
@import "components/template-header";
@import "components/code-block";
@import "components/social-networks";
@import "components/pill";

// Includes
@import "includes/header";
@import "includes/table-of-contents";
@import "includes/docs-section";
@import "includes/footer";
@import "includes/footer-about";
@import "includes/nav-dropdowns";