<div class="footer-about">
	<div class="footer-about-inner">

		<div class="cta-careers">
			Already doing all this?<br>
			<a href="https://WisdmLabs.com/careers" class="button party-blue">Careers at WisdmLabs</a>
		</div>

		<div class="license">
			<p>
				Open source, MIT licensed.<br>
				Copyright {{ site.time | date: '%Y' }}
				<a href="https://twitter.com/WisdmLabs">@WisdmLabs</a>.</p>
		</div>
	</div>
</div>
<footer role="contentinfo">
	<div class="page-footer-content">
		<a href="https://WisdmLabs.com" class="logo-link">WisdmLabs</a>
		<nav class="page-nav expanded" role="navigation" aria-label="footer-navigation">
			<ul>
				<li><a href="https://WisdmLabs.com">WisdmLabs.com</a></li>
			</ul>
			<div class="footer-social social-networks">
				<a href="https://twitter.com/WisdmLabs" class="twitter"><span class="screen-reader-text">Twitter: @WisdmLabs</span></a>
				<a href="https://github.com/WisdmLabs" class="github"><span class="screen-reader-text">Github</span></a>
			</div>
		</nav>
	</div>
</footer>
