<footer class="footer">
  <p>&lt;3</p>
  <p>Heavily inspired by <a href="http://codeguide.co/">Code Guide by @mdo</a>.</p>
  <p>Open sourced under MIT. Copyright {{ site.time | date: '%Y' }} <a href="https://twitter.com/10up">@10up</a>.</p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=10up&repo=Engineering-Best-Practices&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=10up&repo=Engineering-Best-Practices&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>
  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/10up" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @10up</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="10up">Tweet</a>
    </li>
  </ul>
</footer>
