<div class="footer-about">
	<div class="footer-about-inner">

		<div class="cta-careers">
			Already doing all this?<br>
			<a href="https://kanopi.com/careers" class="button party-blue">Careers at Kanopi</a>

		</div>

		<div class="license">
			<p>
				Open source, MIT licensed.<br>
				Copyright {{ site.time | date: '%Y' }}
				<a href="https://twitter.com/kanopi_studios">@kanopi_studios</a> | <a href="https://kanopi.com/accessibility-statement/">Accessibility Statement</a></p>
		</div>
	</div>
</div>
<footer role="contentinfo">
	<div class="page-footer-content">
		<a href="https://kanopi.com" class="logo-link">10up</a>
		<nav class="page-nav expanded" role="navigation" aria-label="footer-navigation">
			<ul>
				<li><a href="https://kanopi.com">kanopi.com</a></li>
			</ul>
			<div class="footer-social social-networks">
				<a href="https://twitter.com/kanopi_studios" class="twitter"><span class="screen-reader-text">Twitter: @kanopi</span></a>
				<a href="https://github.com/kanopi" class="github"><span class="screen-reader-text">Kanopi</span></a>
			</div>
		</nav>
	</div>
</footer>
