<header class="masthead">
  <div class="container">
    <span class="icon">&#9997;</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">{{ site.description }}</p>

    <p class="masthead-links">
      <a href="https://github.com/10up/Engineering-Best-Practices">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="https://twitter.com/10up">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>

<div class="heading" id="toc">
	<h2>Table of contents</h2>
</div>
<div class="section toc">
	<div class="col">
		<h4><a href="{{ HOME_PATH }}/#top">Introduction</a></h4>
		<ul>
			<li><a href="{{ HOME_PATH }}/#audience">Audience</a></li>
			<li><a href="{{ HOME_PATH }}/#goal">Goal</a></li>
			<li><a href="{{ HOME_PATH }}/#philosophy">Philosophy</a></li>
			<li><a href="{{ HOME_PATH }}/#contributing">Contributing</a></li>
		</ul>
		<h4><a href="{{ HOME_PATH }}/php#top">PHP</a></h4>
		<ul>
			<li><a href="{{ HOME_PATH }}/php#performance">Performance</a></li>
			<li><a href="{{ HOME_PATH }}/php#design-patterns">Design Patterns</a></li>
			<li><a href="{{ HOME_PATH }}/php#security">Security</a></li>
			<li><a href="{{ HOME_PATH }}/php#unit-testing">Unit and Integration Testing</a></li>
			<li><a href="{{ HOME_PATH }}/php#code-style">Code Style & Documentation</a></li>
			<li><a href="{{ HOME_PATH }}/php#libraries">Libraries and Frameworks</a></li>
		</ul>
		<h4><a href="{{ HOME_PATH }}/version-control#top">Version Control</a></h4>
		<ul>
			<li><a href="{{ HOME_PATH }}/version-control#structure">Structure</a></li>
			<li><a href="{{ HOME_PATH }}/version-control#workflows">Workflows</a></li>
		</ul>
	</div>
	<div class="col">
		<h4><a href="{{ HOME_PATH }}/javascript#top">JavaScript</a></h4>
		<ul>
			<li><a href="{{ HOME_PATH }}/javascript#performance">Performance</a></li>
			<li><a href="{{ HOME_PATH }}/javascript#design-patterns">Design Patterns</a></li>
			<li><a href="{{ HOME_PATH }}/javascript#unit-and-integration-testing">Unit and Integration Testing</a></li>
			<li><a href="{{ HOME_PATH }}/javascript#code-style">Code Style & Documentation</a></li>
			<li><a href="{{ HOME_PATH }}/javascript#libraries">Libraries</a></li>
		</ul>
		<h4><a href="{{ HOME_PATH }}/tools#top">Tools</a></h4>
		<ul>
			<li><a href="{{ HOME_PATH }}/tools#local-development">Local Development Environments</a></li>
			<li><a href="{{ HOME_PATH }}/tools#task-runners">Task Runners</a></li>
			<li><a href="{{ HOME_PATH }}/tools#package-managers">Package/Dependency Managers</a></li>
			<li><a href="{{ HOME_PATH }}/tools#version-control">Version Control</a></li>
			<li><a href="{{ HOME_PATH }}/tools#command-line">Command Line Tools</a></li>
		</ul>
	</div>
</div>

<div class="heading" id="top">
	<h2>{{ page.title }}</h2>
</div>