/*
 * Code
 */

code,
pre {
	font-family: "PT Mono", Menlo, "Courier New", monospace;
	font-size: .8em;
}

code {
	padding: .25em .5em;
	color: #005980;
	background-color: #efefef;
	border-radius: .2rem;
}

pre {
	display: block;
	line-height: 1.4;
	margin: 0 0 1rem;
	overflow: auto;
	white-space: pre;
}

pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}

.highlight pre {
	margin-bottom: 0;
	font-size: 1.6rem;
}

.highlight + .highlight {
	margin-top: 1rem;
}

div.highlight {
	background-color: #efefef;
	margin: 0 0 1rem;
	padding: 1.25rem;
	border-left: 20px solid #ddd;
	overflow-x: auto;
}
