* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $color-background-color-default;
	color: $color-text-default;
	font-family: $font-family-sans;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding-top: 60px;
}

::selection {
	background: $party-blue; /* Webkit */
	color: $white;
}

::-moz-selection {
	background: $party-blue; /* Firefox */
	color: $white;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	background-image: linear-gradient(transparent calc(100% - 2px), $business-green 0),
	linear-gradient(transparent calc(100% - 2px), $color-accent-alternate-2 0);
	background-position: 0 -3px;
	background-repeat: no-repeat;
	background-size: 0 100%, 100% 100%;
	color: $color-dark;
	text-decoration: none;
	transition: all .1s;

	&:visited {
		color: $color-dark;
	}
}

abbr {
	text-decoration: none;
}

p a,
li a {
	border-bottom: 1px solid rgba( $color-accent-alternate, .3 );

	&:focus,
	&:hover {
		background-size: 100% 100%, 100% 100%;
		color: $color-dark;
	}
}

abbr {
	text-decoration: none;
}

// otherwise it's too wonky with our static header on mobile
body #wpadminbar {
	position: fixed;
}

// Reusable, toolbox kind of class
.screen-reader-text {
	left: -9999px;
	position: absolute;
	top: -9999px;
}

.interface-checkbox {
	display: none;
	speak: none;
}

aside.green {
	background-color: #789904a3; 

	p {
		padding: 20px
	}
}

.pill {
    margin-left: 10px;
    padding: 2px 10px;
    background: $business-green;
	font-size: 0.85rem;
    color: $white;
    border-radius: 10px;

    &--status {
        background: $business-green-light;
		color: $almost-black;
    }
}