@font-face {
	font-family: tenup;
	src: url('fonts/10up.eot');
	src: url('fonts/10up.eot?#iefix') format('embedded-opentype'), url('fonts/10up.ttf') format('truetype'), url('fonts/10up.woff') format('woff'), url('fonts/10up.svg#10up') format('svg');
	font-weight: normal;
	font-style: normal;
}
