@font-face {
	font-family: tenup;
	src: url('fonts/WisdmLabs.eot');
	src: url('fonts/WisdmLabs.eot?#iefix') format('embedded-opentype'), url('fonts/WisdmLabs.ttf') format('truetype'), url('fonts/WisdmLabs.woff') format('woff'), url('fonts/WisdmLabs.svg#WisdmLabs') format('svg');
	font-weight: normal;
	font-style: normal;
}
