h1, h2, h3, h4, h5, h6 {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

em {
	font-style: normal;
	font-weight: 600;
}

blockquote {
	margin-bottom: 25px;
	margin-top: 25px;
	font-size: 32px;
	line-height: 50px;
	text-align: left;
	text-indent: 16px;
	color: #777575;
}

h1 {
	font-size: 3.4rem;
	line-height: 1.4;
	// font-family: $font-family-serif;
	font-family: $font-family-sans;
	font-weight: 300;
	font-style: normal;
	margin: 0px 0px 12px 0px;

	@include breakpoint($breakpoint-alpha) {
		font-size: 4.9rem;
	}

	@include breakpoint($breakpoint-bravo) {
		font-size: 6.4rem;
	}
}

h2 {
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 1.4;
	text-transform: none;
	margin: 36px 0px 12px 0px;

	@include breakpoint($breakpoint-alpha) {
		font-size: 2.8rem;
	}
}

h3 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.5;
}

h4 {
	font-size: 2rem;
	font-weight: 300;
}

h5 {
	font-size: 1.5rem;
	font-weight: 300;
}

p, ul, ol {
	text-indent: 0em;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.7;
	margin: 14px 0px 18px 0px;

	@include breakpoint($breakpoint-bravo) {
		font-size: 1.8rem;
	}
}

p.intro {
	text-indent: 0px;
	line-height: 48px;
	font-size: 24px;
	letter-spacing: 0px;
	font-family: $font-family-serif;
	font-weight: 400;
	font-style: normal;
	margin: 30px 0px;
}

p.first {
	font-family: $font-family-sans;
	font-weight: 400;
	font-style: italic;
	line-height: 30px;
	margin: 12px 0px 36px 0px;
}

p.callout {
	text-indent: 0em;
	font-size: 28px;
	line-height: 42px;
	padding: 0px;
	font-family: $font-family-serif;
	font-weight: 400;
	font-style: italic;
	//width: 655px;
	text-align: center;
	margin: 36px 0px 42px 0px;
}

p.intro:after {
	border-bottom: 1px solid #111;
	width: 30%;
}

p.intro a {
	text-decoration: none;
	color: inherit;
}

p.intro a:hover {
	text-decoration: underline;
	color: inherit;
	border-bottom: 3px;
}

h1.pagetitle {
	text-align: center;
	margin: 0px;
}

.subhead {
	text-align: center;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 1px;
}
