{% include Util/setup %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <script>
        var host = "10up.github.io";
        if ( window.location.host === host && window.location.protocol !== "https:" ) {
            window.location.protocol = "https:";
        }
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.ico" type="image/x-icon">

    <title>
      {{ site.name }}
    </title>

    <link rel="stylesheet" href="{{ site.baseurl }}/main.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Mono&subset=latin,cyrillic">

    <script type='text/javascript' src='//use.typekit.net/dtp2teh.js?ver=4.0'></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!-- Google Analytics to go here -->
  </head>
  <body class="page-{{ page.page }}">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>
